html, body {
	font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

body {
	word-wrap: break-word;
	font-size: 16px;
	line-height: 165%;
	color: #111111;
}

.body-content{
    box-pack: justify;
    text-justify: inter-ideograph;
    text-align: justify;
}
/*
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	margin: 0;
	margin-bottom:  0.8em;
}

p{
	margin: 0;
	margin-bottom: 0.8em;
}
*/

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
:-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: 0.67em;
    -webkit-margin-before: 2.33em;
    -webkit-margin-after: 2.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

p{
    display:block;
    -webkit-margin-before:1em;
    -webkit-margin-after:1em;
    -webkit-margin-start:0px;
    -webkit-margin-end:0px;
}


table {
	overflow: hidden;
	max-width: 100%;
	border: 1px solid #CFCDD3;
	border-collapse: none;
	background: #f8f8f8;
	font-size: 0.8em;
	margin-right: 1px;
}

img {
	max-width: 100%;
	margin: 4px 0;
	background: #fefefe;
	border: none;
	box-shadow: none;
}

pre {
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 0.8em;
	font-family: monaco, Consolas, 'Liberation Mono', Courier, monospace;
	border: none;
	border-left: 2px solid #CFCDD3;
	background: #f8f8f8;
	padding: 8px 6px 6px 6px;
	line-height: 140%;
	overflow: auto;
    word-wrap: break-word; 
    word-break:break-all;
}

a:-webkit-any-link{
    color:-webkit-link;
    text-decoration:underline;
    cursor:auto;
}